{
  "presets": [
    "es2015",
    "react",
    "stage-1"
  ],
  "env": {
    "test": {
      "plugins": [
        ["webpack-alias", {"config": "webpack.config.dev.js"}]
      ]
    },
    "development": {
      "presets": [
        "react-hmre"
      ]
    },
    "production": {
      "plugins": [
        "transform-react-constant-elements",
        "transform-react-remove-prop-types"
      ]
    }
  }
}
