/******************************
* CONTACT CONTAINER
* *****************************/

.contact-form{
  padding-left: 30%;
  padding-right: 30%;
  input{
    width: 100%;
  }
  .buttons{
    text-align: center;

    button{
      width: 100%;
      margin: 0 0 0 0;
    }
  }
  textarea{
    height: 20em;
  }
}
