$form-text-size: 15px;
$form-text-color: $app-button-bg-color;

.luciole-form{

  label{
    color:$app-text-primary-color;
    margin : 5px 15px 5px 5px;
  }

  .form-group{
    margin-bottom: 10px;
  }

  input, textarea{
    width: 100%;
    background: #1a3951;
    opacity: 0.7;
    border: none;
    outline: none;
    padding: 10px;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
    border: 2px solid $app-button-bg-color;
    border-radius: 4px;
    box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);
    -webkit-transition: box-shadow .5s ease;
    -moz-transition: box-shadow .5s ease;
    -o-transition: box-shadow .5s ease;
    -ms-transition: box-shadow .5s ease;
    transition: box-shadow .5s ease;

    font-size: $form-text-size;
    color: $form-text-color;

    &:focus {
      box-shadow: inset 0 -5px 45px rgba(100,100,100,0.8), 0 1px 1px rgba(255,255,255,0.2);
    }
  }

  textarea{
    border-radius: 4px !important;
  }

  .no-prefix{
    input{
      border-radius: 4px !important;
      border-left: 1px solid rgba(0,0,0,0.2) !important;
    }
  }

   .input-group-addon{
     background: $app-button-bg-color;
     color: $app-button-text-color;
     border: 1px solid rgba(0,0,0,0.2);
   }

  .input-group{
    width: 100% !important;
  }

  .field-error{
    border-radius: 4px;
    border: 2px solid #FF4500 !important;

    input{
      border-radius: none !important;
      border-left: none !important;
    }
  }

  .field-not-touched{
    border: none !important;

    input{
      border-radius: none !important;
      border-left: none !important;
    }
  }

  .field-success{
    border-radius: 4px;
    border: 2px solid green !important;

    input{
      border-radius: none !important;
      border-left: none !important;
    }
  }

  .form-control-feedback{
    padding-top: 10px;
  }

  .field-icons{
    .fa{
      margin-right : 5px;
    }
  }

  .field-error-label{
    @extend .field-icons;
    color:#FF4500;
  }

  .field-warning-label{
    @extend .field-icons;
    color:orange;
  }

  button{
    @extend .luciole-buttons;
    width : 150px;
    height: 50px;
    font-size: 20px;
    margin : 5px 5px 5px 5px;
  }
}

// MODALS
.lu-modal{
  height: 90%;

  .modal-content{
    border: none;
    background-color: white;

    .form-group.has-error{
      label{
        color: red;
      }
    }

    .form-group{
      label{
        color: black;
      }
    }

    .form-group.has-success{
      label{
        color: green;
      }
    }

    .form-group.has-warning{
      label{
        color: orange;
      }
    }

    .input-group-addon{
      background: $app-button-bg-color;
      border: 1px solid rgba(0,0,0,0.2);
    }

    input, textarea{
      background: $app-button-text-color;

      &:focus {
        box-shadow: inset 0 -5px 45px rgba(50,50,50,0.8), 0 1px 1px rgba(255,255,255,0.2);
      }
    }
  }

  .modal-header{
    background-color: $app-button-bg-color;
    border-bottom: 2px solid $app-button-text-color;
    color: $app-button-hover-color;
    text-align: center;
  }

  .modal-footer{
    border-top: none;
  }

  .cgu {
    text-align: center;
  }
}
