/******************************
* HOME PAGE CONTAINER
* *****************************/

.sidebar-burger{
  margin-left: 10px;
}

.hand-over{
  background-color: rgba(18, 25 ,46, 0.5);
  display: inline-block;
  cursor:pointer;
  cursor:hand;
  padding: 10px 10px 10px 10px;
  border-radius: 0px 0px 5px 5px;
}
