/******************************
* HOME PAGE CONTAINER
* *****************************/

.sidebar-burger{
  margin-left: 10px;
}

.hand-over{
  background-color: green;
  display: inline-block;
  cursor:pointer;
  cursor:hand;
}
