/******************************
* KINGDOMPAGE CONTAINER
* *****************************/
.kingdompage{

  overflow: auto;
  height:100%;

  .lu-res-dtl{
  }

  .res-elm{
    padding: 0 !important;
  }

  .res-dtl-title{
    @extend .lu-content-text;
    text-transform: uppercase;
    font-size: 25px;
  }

  .r-dtl {
    margin: 8px;
    text-align: center;

    .title{
      @extend .lu-content-text;
      font-weight: bold;
    }

    .value{
      display: block;
    }
  }

  .r-dtl-actual{
    @extend .r-dtl;

    span{
      margin: 3px;
    }

    .number{
      font-size: 23px;
    }

    .no-number{
      @extend .lu-content-text;
      font-size: 18px;
    }
  }

  .r-prod{
    @extend .r-dtl;

  }

  .r-sto{
    @extend .r-dtl;

  }

  .r-last-hrv{
    @extend .r-dtl;
    text-align: center;
    white-space: nowrap;

  }

  .r-next-hrv{
    @extend .r-dtl;
    text-align: center;
    white-space: nowrap;
    margin: 0 !important;
  }
}
