/******************************
* MAIN CONTAINER
* *****************************/

$background-color: rgba(50,66,121,0.7);
$background-url: url(../assets/img/luciole_background.png);

.main-container{
  padding-left: ($sidebar-padding-borders*2 + 10);
  height: 100%;
  background:linear-gradient(0deg, $background-color, $background-color), $background-url;
  background-size:cover;
}

.sidebar-burger{
  margin-left: 10px;
}

.hand-over{
  background-color: rgba(18, 25 ,46, 0.5);
  display: inline-block;
  cursor:pointer;
  cursor:hand;
  padding: 10px 10px 10px 10px;
  border-radius: 0px 0px 5px 5px;
}

.burger-menu{
  img{
    height: 25px;
  }
}

.main-user-card{
  text-align: center;
  position: absolute;
  top: 0;
  left: 45%;
}

.user-card{
  display:inline-block;
}

.user-card-avatar{
  @extend .user-card;
  border-radius: 50%;
  border: 2px solid white;
  width: 36px;
  height: 36px;
  line-height: 30px;
  text-align: center;
  vertical-align: middle;
}

.user-card-username{
  @extend .user-card;
  padding-left: 5px;
  text-transform: uppercase;
}
