/******************************
* MAIN CONTAINER
* *****************************/

$background-color: rgba(50,66,121,0.7);
$background-url: url(../assets/img/luciole_background.png);

.main-container{
  padding-left: ($sidebar-padding-borders*2 + 10);
  height: 100%;
  background:linear-gradient(0deg, $background-color, $background-color), $background-url;
  background-size:cover;
}

.burger-menu{
  img{
    height: 25px;
  }
}
