/******************************
* SIDEBAR CONTAINER
* *****************************/

$sidebar-width: 15%;
$sidebar-padding-top: 25px;
$sidebar-primary-bg-color: #2d3c69;
$sidebar-second-bg-color: #1D244B;
$sidebar-padding-borders: 10px;

.sidebar-container{
  height: 100%;
  background-color: $sidebar-primary-bg-color;
  padding-top: $sidebar-padding-top;
  text-align: center;
  padding-left: $sidebar-padding-borders;
  padding-right: $sidebar-padding-borders;
}

$logo-url: url('../assets/img/luciole_logo.png');
.sidebar-logo{
  content: $logo-url;
  padding-bottom: 20px;
}

.sidebar-content{
  background-color: $sidebar-second-bg-color;
  box-shadow: 0px 0px 10px #000;
  bottom:50%;
  margin:-10px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.sidebar-footer{
  position:absolute;
  bottom:0;
  width: 90%;
  color: $app-text-second-color;
}

.sidebar-link{
    text-align: left;
    padding-left: 5px;
    line-height: 40px;
    display: block;
    vertical-align: middle;

    &:hover {
      .sidebar-link-icon{
        color: #008B8B;
      }
      .sidebar-link-text{
        color: #008B8B;
      }
    }

    .sidebar-link-icon{
      display: inline-block;
      margin-right: 7px;
      color:$app-text-third-color;
      vertical-align: middle;
      width:35px;
      text-align: center;
    }

    .sidebar-link-text{
      display: inline-block;
      color:$app-text-primary-color;
      vertical-align: middle;
      font-size: 18px;
      text-transform: uppercase;
      font-family: $app-title-font;
    }
  }

  .resource-line {
    margin-top: 5px;

    .resource-line-text {
      text-align: center;
      display: inline-block;
      padding-bottom: 5px;
      margin-top: 3px;
      vertical-align: middle;
    }
  }
