/******************************
* APP CONTAINER
* *****************************/
$app-text-primary-color:white;
$app-text-second-color:#4059f9;
$app-text-third-color:#54cbfe;

$app-button-bg-color:#54ceff;
$app-button-hover-color:#1a3951;
$app-button-text-color: #0151a7;

$app-button-cancel-bg-color: #B0C4DE;
$app-button-cancel-text-color: #0151a7;
$app-button-cancel-border-color: #4169E1;
$app-button-cancel-hover-bg-color: #191970;
$app-button-cancel-hover-text-color: #B0C4DE;
$app-button-cancel-hover-border-color: #B0C4DE;

$app-title-font: 'Play', serif;
$app-text-font: 'Play', serif;

.app-container{
  color: $app-text-primary-color;
  font-size: 15px;
  font-family: $app-text-font;
}

@import "homepage-container";
@import "sidebar-container";
@import "main-container";
@import "modals";
@import "forms";
@import "contact-container";
@import "auth-container";
@import "userpage-container";
@import "kingdompage-container";

// font-family: 'PT Sans', sans-serif;
// font-family: 'Maitree', serif;


/******************************
* RESOURCES ICON
* *****************************/

.resource-icon {
  width: 36px;
  height: 36px;
  margin-left: 5px;
  margin-right: 5px;
  display: inline-block;
  line-height: 28px;
  text-align: center;
  vertical-align: middle;
  padding-top: 5px;
}

.resource-icon-circle {
  @extend .resource-icon;
  border-radius: 50%;
  border: 2px solid white;
}

.resource-icon-no-circle {
  @extend .resource-icon;
}

.resource-wood{
  fill: #D2691E
}

.resource-goldIngot{
  fill: #FFD700
}

.resource-food{
  fill: #ADFF2F
}

.svg{
  width: 24px;
  height: 24px;
}

.user-avatar{
  display: inline-block;
  img{
    object-fit: cover;
    border-radius:50%;
    width: 40px;
    height: 40px;
    border: 2px solid white;
  }
}

/******************************
* DROPDOWN
* *****************************/
.dropdown-menu{
  background-color: $sidebar-second-bg-color;
  min-width: 100% !important;
}

.dpd-lang-list{
  list-style-type: none;
  padding: 10px 10px 0 0;
  width: 100% !important;
  li{
    width: 100%;
    margin-left: 5px;
    a{
      text-decoration: none !important;
      margin: 0px;
      display: block;
      width: 100%;
      height: 100%;
      &:hover{
        color:$app-text-third-color;
      }
    }
    &:hover{
      background-color: $sidebar-primary-bg-color;
      color: red;
    }
  }
}

/******************************
* Buttons
* *****************************/

.luciole-buttons{
   background-color: $app-button-bg-color;
   display: inline-block;
   border: 2px solid;
   border-radius: 5px 5px 5px 5px;
   border-color: $app-button-text-color;
   vertical-align: middle;
   color:$app-button-text-color;
   text-transform: uppercase;
   &:hover{
     cursor:pointer;
     cursor:hand;
     border: 2px solid $app-button-bg-color;
     background-color: $app-button-hover-color;
     color: $app-button-bg-color;
   }
 }

 .lu-big-button {
   @extend .luciole-buttons;
   height: 50px;
   font-size: 20px;
   font-weight: bold;
   border: none;
 }

 /******************************
 * CONTAINERS
 * *****************************/

 .lu-container{
   background-color: rgba(18, 25 ,46, 0.5);
   padding: 10px 10px 10px 10px;
   border-radius: 5px 5px 5px 5px;
   margin-bottom: 10px;
 }

 .lu-container-wmargin{
   @extend .lu-container;
   margin-right: 5%;
 }

 .lu-grid{
   width: 95%;
 }

 .corner-button{
   float: right;
   padding-right: 5px;
 }

 .lu-scroll{
   overflow-y: auto;
   overflow-x:hidden;
   height: 250px;
   box-sizing:border-box;
 }

 .lu-scroll::-webkit-scrollbar-track{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

 /******************************
 * PAGE HEADER
 * *****************************/
.page-header{
  background-color: rgba(18, 25 ,46, 0.5);
  display: inline-block;
  padding: 10px 10px 10px 10px;
  border-radius: 5px 5px 5px 5px;
  text-transform: uppercase;
  border: none;

  h1{
    display: inline;
    margin-left: 10px;
  }
}

/******************************
* WELL
* *****************************/

.lu-well{
  background-color: #1a3951 !important;
  border: 1px solid #0d1a26 !important;
  background-image: none !important;
  padding: 10px;

  .text {
    display:inline-block;
  }

  span{
    float: right;
    cursor:pointer;
    cursor:hand;
    padding: 10px;
    margin-top: -7px;
  }
}


/******************************
* TITLES
* *****************************/

h2{
  color: $app-text-third-color;
  text-transform: uppercase;
  font-weight: bold;
}


/******************************
* IMG
* *****************************/

.lu-square-choice{
  width: 110px;
  height: 110px;
  margin-bottom: 2px;
  margin-right: 1px;
  img{
    display: block;
    border: 2px solid white;
    width: 110px;
    height: 110px;
  }

  img.selected{
    border: 2px solid red;
  }

  img.disabled{
    opacity: 0.4;
    filter: alpha(opacity=40);
  }
}


/******************************
* ARROWS
* *****************************/

.fa-lu-arrows{
  margin-left: 3px;
}

.fa-long-arrow-right{
  @extend .fa-lu-arrows;
  color: #f9d998;
}

.fa-long-arrow-down{
  @extend .fa-lu-arrows;
  color: #cc1414;
}

.fa-long-arrow-up{
  @extend .fa-lu-arrows;
  color: #0f9e0b;
}


/******************************
* TEXT
* *****************************/

.lu-content-text{
  opacity: 0.9;
  color: #edece6;
}


/******************************
* PROGRESS BAR
* *****************************/

.lu-progress-bar{
  background-color: #1a3951;
  background-image: none;
  overflow-x:visible;
  white-space:nowrap;
}
