/******************************
* APP CONTAINER
* *****************************/
$app-text-primary-color:white;
$app-text-second-color:#4059f9;

.app-container{
  color: $app-text-primary-color;
}

@import "homepage.container";
@import "sidebar.container";
@import "main.container";
