/******************************
* APP CONTAINER
* *****************************/
$app-text-primary-color:white;
$app-text-second-color:#4059f9;

.app-container{
  color: $app-text-primary-color;
}


/******************************
* SIDEBAR CONTAINER
* *****************************/

$sidebar-width: 15%;
$sidebar-padding-top: 25px;
$sidebar-bg-color: #2d3c69;
$sidebar-padding-borders: 10px;

.sidebar-container{
  height: 100%;
  background-color: $sidebar-bg-color;
  padding-top: $sidebar-padding-top;
  text-align: center;
  padding-left: $sidebar-padding-borders;
  padding-right: $sidebar-padding-borders;
}

$logo-url: url(../assets/img/luciole_logo.png);
.sidebar-logo{
  content:$logo-url;
  padding-bottom: 20px;
}

.sidebar-footer{
  position:absolute;
  bottom:0;
  width: 90%;
  color: $app-text-second-color;
}


/******************************
* MAIN CONTAINER
* *****************************/

$background-color: rgba(50,66,121,0.7);
$background-url: url(../assets/img/luciole_background.png);

.main-container{
  padding-left: ($sidebar-padding-borders*2 + 20);
  height: 100%;
  background:linear-gradient(0deg, $background-color, $background-color), $background-url;
  background-size:cover;
}
